<%- include('partials/header') -%>


        <h1>This is the Pixel Perfect Home Page</h1>

		<h2> <%= user.userName %> | <%= user.level %> | <a href="/logout">
			<button class="out" type="button">Logout</button>
		</a></h2>

		<hr>
		<ul class="row list-unstyled">
			<% for(var i=0; i<posts.length; i++) {%>
			  <li class="col-6 justify-content-between mt-5">
				<a href="/post/<%= posts[i]._id%>">
				  <img class="img-fluid" src="<%= posts[i].image%>">
				</a>
			  </li>
			<% } %>
			</ul>
		<hr>

		<h2><a href="/">Index</a></h2>
		<h2><a href="/pixel">Pixel Home</a></h2>
		<h2><a href="/post">Post</a></h2>
		<h2><a href="/profile">Profile</a></h2>
		<h2><a href="/signup">Signup</a></h2>
		<h2><a href="/login">Login</a></h2>
		<h2><a href="/editor">Editor</a></h2>



		
<%- include('partials/footer') -%>