<%- include('partials/header') -%>



		
        <h1>This is the Posts page</h1>

		<hr>

		<h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit">Like</button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit">Delete?</button>
        </form>
		<%}%>

		<p><%= post.caption %></p>
    <hr>

    <p><%= post.user.userName %></p>

    <hr>
    <form action="/post/createComment/<%= post.id %>" method="POST">

			<label for="caption" class="form-label">Comment</label>
      <textarea class="form-control" id="text" name="text"></textarea>

			<button type="submit" class="btn btn-primary" value="Upload">Submit</button>
		</form>

		<hr>
        <h1>Comments Go Here</h1>

        <%= console.log(post.id) %>

        

        <ul>
          <% for(var i=0; i<post.comments.length; i++) {%>
            <li>
              <h2> <%= post.comments[i].user%></h2>
              <h2><%= post.comments[i].text%></h2>
            <hr>
            </li>
          <% } %>
        </ul>
    <hr>

		<h2><a href="/">Index</a></h2>
		<h2><a href="/pixel">Pixel Home</a></h2>
		<h2><a href="/post">Post</a></h2>
		<h2><a href="/profile">Profile</a></h2>
		<h2><a href="/signup">Signup</a></h2>
		<h2><a href="/login">Login</a></h2>
		<h2><a href="/editor">Editor</a></h2>

    

    
		
<%- include('partials/footer') -%>